# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.nfo
.gradle

# IntelliJ Idea files
.idea/encodings.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/gradle.xml
*.ipr
*.iws
*.jar

# Build directories
out
build
_build
gradleBuild
dist/bin/develop/lib/

# Most plugins in dist/plugins
dist/plugins/*

# All versioned Roddy directories
dist/bin/*
!dist/bin/develop

# Other files
manifest.tmp
*~
coverage/

.classpath
.project
.settings/


__pycache__/

*.sif
