.idea/workspace.xml
out
RoddyCore/build
dist/bin/2*
dist/build
dist/plugins/DefaultPlugin_*
dist/plugins/*/build
build
gradle
.nfo
.gradle
.idea/encodings.xml
manifest.tmp
coverage/
.idea/codeStyleSettings.xml
.idea/gradle.xml
README.md~
