# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
build
.nfo
.gradle

# IntelliJ Idea files
.idea/encodings.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/gradle.xml
*.ipr
*.iws
*.jar

# Build directories
out
RoddyCore/build
dist/build
dist/plugins/*/build
gradleBuild
dist/bin/develop/lib/

# Most plugins in dist/plugins
!dist/plugins/Template
!dist/plugins/NativeWorkflowTestPlugin
!dist/plugins/TestPluginWithJarFile
!dist/plugins/TestPluginWithoutJarFile
dist/plugins

# All versioned Roddy directories (except 'develop')
!dist/bin/develop
dist/bin

# Other files
manifest.tmp
*~
coverage/


